<input type="text" id="search-input" placeholder="Search...">
<ul id="search-results"></ul>

<script>
  document.getElementById('search-input').addEventListener('input', function() {
    var query = this.value;
    fetch('/index.json')
      .then(response => response.json())
      .then(data => {
        var idx = lunr(function() {
          this.ref('permalink');
          this.field('title');
          this.field('content');
          this.field('summary');

          data.forEach(function(doc) {
            this.add(doc);
          }, this);
        });

        var results = idx.search(query);
        var searchResults = document.getElementById('search-results');
        searchResults.innerHTML = '';

        results.forEach(result => {
          var item = data.find(d => d.permalink === result.ref);
          var li = document.createElement('li');
          li.innerHTML = `<a href="${item.permalink}">${item.title}</a>`;
          searchResults.appendChild(li);
        });
      });
  });
</script>
